{%extends 'main/base.html'%}

{%load static%}

{%block includes%}
<link rel="stylesheet"  type="text/css" href="{% static './css/home.css'%} ">
{%endblock%}

{%block title %}
<h1>Home Page</h1>
{%endblock%}


{%block content%}
<div class="container">
    <button>hello</button>
</div>

<div class = "ImgContainer">
    <img src = {{Img}}>
</div>

<h1 id="WSS"></h1>

<script>
    var socket = new Webscoket("ws://localhost:8000/ws/test/");
    socket.onMessage(function(msg){
        console.log(msg);
        var data = JSON.parse(msg.data);
        console.log(msg);
        document.querySelector("#WSS").innerHTML = data.message;
    });

</script>



{%endblock%}